<app-header></app-header>

<div class="container">
	@if (notFound) {
	<p class="not-found">Post não encontrado.</p>
	} @else if (post) {
	@if (post.img) {
	<img class="post-cover" [src]="post.dir + '/' + post.img" [alt]="post.title">
	}
	<div class="content" [innerHTML]="html"></div>
	<div class="post-date"> <b>Publicado em:</b> {{post.date | date:'dd/MM/yyyy HH:mm'}}</div>
	<div class="post-tags-wrapper">
		@for (tag of post.tags; track $index) {
		<span class="post-tags">{{tag}}</span>
		}
	</div>

	}
</div>
