<div class="post-wrapper">
	@if (post?.img) {
	<a [routerLink]="['/post', post?.slug]">
		<img class="post-thumb" [src]="post?.dir + '/' + post?.img" [alt]="post?.title">
	</a>
	}
	<a class="post-link" [routerLink]="['/post', post?.slug]">
		<h1 class="post-title">
			{{post?.title}}
		</h1>
	</a>
	<div class="post-date">
		{{post?.date}}
	</div>
	<div class="post-abstract">
		<p>
			{{post?.description}}
		</p>
	</div>
	<div class="post-tags-wrapper">
		@for (tag of post?.tags; track $index) {
		<span class="post-tags">
			{{tag}}
		</span>
		}
	</div>
	<a class="post-read-more" [routerLink]="['/post', post?.slug]">Ler mais →</a>
</div>
